* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
img {
  width: 100%;
}

.navbar img {
  width: 25%;
}
#navbarResponsive {
  display: flex;
  justify-content: center;
}
#navbarResponsive li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin-top: 65px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-family: "roboto";
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.nav-item a:hover {
  color: royalblue;
}
